tests/fixtures/wahlkreise_schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Wahlkreis">
    <xsd:complexType>
      <xsd:all>
        <xsd:element name="Bezeichnung" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Nummer" type="xsd:string" minOccurs="0"/>
        <xsd:element name="Kuerzel" type="xsd:string" minOccurs="0"/>
      </xsd:all>
      <xsd:attribute name="OBJ_GUID" type="xsd:string"/>
      <xsd:attribute name="seq" type="xsd:integer"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
